<nav>
    <ul>
        <li class="<%= (currentPage === 'home') ? 'active' : '' %>"><a href="/">Home</a></li>
        <li class="<%= (currentPage === 'about') ? 'active' : '' %>"><a href="/about">About</a></li>
        <li class="<%= (currentPage === 'contact') ? 'active' : '' %>"><a href="/contact">Contact</a></li>
    </ul>
</nav>  