/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    margin: 20px;
}

h2 {
    color: #4CAF50;
    font-size: 1.5em;
    margin-top: 20px;
}

p {
    color: #333;
    font-size: 1.1em;
}

a {
    display: block;
    margin-top: 20px;
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}