<%- include('partials/navbar', { currentPage: 'about' }) %>
<main>
    <h1>About Our Project</h1>
    <p>This is the about page where we share more details about the project.</p>
    <p>Project Description: <%= description %></p>
    <a href="/">Go Back Home</a>
</main>
<%- include('partials/footer') %>